.glpb-com-glpb_app_download_button{

  &>.glpb-content{
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    outline: none;
  }
}

//编辑器中的样式
.gplb-sys-editor{
  .glpb-com-glpb_app_download_button{



  }
}