

.glpb-com-glpb_carousel{

  .glpb-carousel-inner{
    height: 100%;
    width: 100%;

    .glpb-carousel-item{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    a{
      display: block;
      text-decoration: none;
    }

    img{
      display: block;
      width: 100%;
      height: 100%;
      border:0 none;
    }
  }
}