
@import "../../scss-common/_helper.scss";

.glpb-ui-fund-list-item{
  
}


.glpb-ui-fund-list-item{

  //样式2
  &.glpb-fund-sug-theme-3{

    display: none;
    padding-bottom: px2rem(30);
    margin-bottom: px2rem(24);
    @include box-sizing(content-box);

    .fund-name {
      font-size: px2rem(28);
      color: #333;
      height: px2rem(90);
      line-height: px2rem(90);
      border-bottom: 1px solid #e6e6e6;
      text-indent: px2rem(30);
      @include box-sizing(content-box);
      overflow: hidden;

      .fund-code{
        font-size: px2rem(22);
        color: #888;
      }

      .fund-span{
        float: right;
        font-size: px2rem(28);
        margin-right: px2rem(30);
        color: #ff721f;
      }
    }

    .fund-content {
      position: relative;
      height: px2rem(153);
      padding: px2rem(25) 0 0 0;
      @include box-sizing(content-box);

      .fund-info {
        width: 50%;
        float: left;
        text-align: center;
        @include box-sizing(content-box);

        .year-rise, .year-net {
          color: #f77224;
          font-size: px2rem(54);
          .year-net-span, .year-rise-span {
            font-size: px2rem(22);
            margin-top: px2rem(11);
          }
        }

        .rise-text {
          color: #888;
          font-size: px2rem(22);
        }

        .year-net {
          color: #333;
        }
      }

      .info2{

      }
    }

    .fund-item-bad{

      .fund-info{
        .year-rise{
          color: #3cc67f;
        }

      }

    }

    .fund-item-new{

      .fund-info{
        .year-rise{
          color: #333;
        }

      }

    }

    .fund-buy-btn{
      width: px2rem(690);
      height:px2rem(80);
      line-height:px2rem(80);
      margin: 0 auto;
      @include border-radius(px2rem(3));
      font-size:px2rem(32);
      color:#ffffff;
      text-align:center;
      background:#ff721f;
      @include box-sizing(content-box);
    }


  }

}