
@import "../../scss-common/_helper.scss";

.glpb-com-glpb_we_com_swiper_container{

  position: relative;

  .glpb-swiper-wrapper{
    position: relative;
  }

  .next-page-arrow{
    position: absolute;
    width: 0.6rem;
    margin-left: -0.3rem;
    left: 50%;
    bottom: 0.5rem;
    -webkit-animation:glpb-swiper-container-next-arrow 2s infinite;
    animation:glpb-swiper-container-next-arrow 2s infinite;
    z-index: 9;
  }

  &.glpb-swiper-last{

    .next-page-arrow{
      display: none;
    }
  }

  //带有动画的组件
  .glpb-fn-animate-item{
    display: none;
  }

  //当前显示的一屏
  .glpb-swiper-item-active{

    //当前屏内部的动画组件切换到显示状态, 触发动画
    .glpb-fn-animate-item{
      display: block;
    }
  }
}

@-webkit-keyframes glpb-swiper-container-next-arrow{
  0%,20%{
    opacity: 0;
    -webkit-transform: translate(0,10px);
    transform: translate(0,10px);
  }
  60%{
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
  100%{
    opacity: 0;
    -webkit-transform:translate(0,-10px);
    transform:translate(0,-10px);
  }
}

.gplb-sys-editor{

  .glpb-com-glpb_we_com_swiper_container{


    .swiper-container{
      overflow: auto;
    }


    .swiper-wrapper{
      display: block;
    }

    .next-page-arrow{
      display: none;
    }

    //带有动画的组件
    .glpb-fn-animate-item{
      display: block;
    }

    .glpb-swiper-container-drop-area{
      //position: absolute;
      //left: 0;
      //bottom: 4px;
      //width: 100%;
      height: 200px;
      outline: 2px dashed greenyellow;
      z-index: 20;
      text-align: center;
      line-height: 200px;
      font-size: 20px;
    }
  }
}