
@import "../../scss-common/_helper.scss";

.glpb-com-glpb_we_com_pc_exchange_item_list{


  $highlight-color: #ff7422;

  .glpb-exchange-list{
    width: 1080px;
    margin: 0 auto;
    border-top: 1px solid #f4f4f4;
  }

  .glpb-exchange-list-item{

    text-align: left;
    color: #848484;
    padding: 0 20px;
    border-bottom: 1px solid #f4f4f4;

    //交易所标题区域
    .exchange-item-title{

      $height: 16px;

      padding: 20px 0 0;
      font-size: 16px;
      height: $height;
      line-height: $height;

      white-space:nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;

      a{

        color: #333;
        text-decoration: none;

        &:hover{
          color: #3a84cf;
        }
      }
    }

    .exchange-item-info-main{

      margin-top: 17px;
      padding-bottom: 22px;

      .info-box{
        float: left;
        font-size: 16px;
        color: #2b2b2b;
        @include box-sizing(content-box);
      }

      .bd{
        line-height: 40px;
        height: 30px;
      }

      .info{
        font-size: 12px;
        margin-top: 12px;
        color: #848484;
      }

      .w127{
        width: 127px;
      }

      .w191{
        width: 191px;
      }

      .w181{
        width: 181px;
      }

      .w280{
        width: 280px;
      }

      .w112{
        width: 112px;
      }

      .w95{
        width: 95px;
      }

      //年利率
      .year-rate-box{

        .product-year-rate{

          font-size: 14px;
          color: $highlight-color;

          .num-family{
            font-size: 30px;
          }
        }
      }

      //投资期限
      .product-period-box{

        text-align: center;

        .product-period{

          .num-family{

          }
        }
      }

      //起投金额
      .product-start-amount-box{

        text-align: center;
      }

      //项目来源
      .product-source-box{
        text-align: center;
      }

      //募集进度区域
      .product-process-box{
        padding-left: 50px;

        .process-text{
          float: left;
          width: 50px;
        }

        .process-bar{
          float: left;
          width: 50px;
          height: 3px;
          margin-top: 18px;
          background: #f1f1f1;

          .process-bar-inner{
            height: 100%;
            background: #3a84cf;
          }
        }
      }

      .buy-btn{
        float: right;
        width: 70px;
        height: 28px;
        line-height: 28px;
        margin-top: 8px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #ff721f;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius:2px;
        border-radius:2px;
      }

    }

  }

  //编辑模式的占位图片
  .editor-place-holder-img{
    border:0 none;
    display: block;
  }

}
